shopping/App_WebReferences/MasterService/MasterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7368/MasterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReturnTypeOfArrayOfBooking">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfBooking" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfBooking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfBooking" nillable="true" type="tns:ReturnTypeOfArrayOfBooking" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
          <xs:element minOccurs="0" name="ClientId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:Delivery" />
          <xs:element minOccurs="0" name="DeliveryId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DeliveryPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DeliveryRespond" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PaymentMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductId" type="xs:long" />
          <xs:element minOccurs="0" name="ProductPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProductRespond" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductType" type="xs:long" />
          <xs:element minOccurs="0" name="ProductValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ModelState" type="tns:ModelState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ModelBase" nillable="true" type="tns:ModelBase" />
  <xs:simpleType name="ModelState">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Added">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Modified">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Deleted">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ModelState" nillable="true" type="tns:ModelState" />
  <xs:complexType name="Client">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
          <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
          <xs:element minOccurs="0" name="CCExpiredMonth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CCExpiredYear" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CCHolder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CCNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CCPin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CancelCount" type="xs:int" />
          <xs:element minOccurs="0" name="ClientComments" nillable="true" type="tns:ArrayOfClientComment" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PaymentMode" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfClientComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientComment" nillable="true" type="tns:ClientComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientComment" nillable="true" type="tns:ArrayOfClientComment" />
  <xs:complexType name="ClientComment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
          <xs:element minOccurs="0" name="ClientId" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:Delivery" />
          <xs:element minOccurs="0" name="DeliveryId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientComment" nillable="true" type="tns:ClientComment" />
  <xs:complexType name="Delivery">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientComments" nillable="true" type="tns:ArrayOfClientComment" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Commission" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DeliveryTypes" nillable="true" type="tns:ArrayOfDeliveryType" />
          <xs:element minOccurs="0" name="Disctrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HighestPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="LowestPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quality" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Delivery" nillable="true" type="tns:Delivery" />
  <xs:complexType name="ArrayOfDeliveryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryType" nillable="true" type="tns:DeliveryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryType" nillable="true" type="tns:ArrayOfDeliveryType" />
  <xs:complexType name="DeliveryType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Code" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:Delivery" />
          <xs:element minOccurs="0" name="DeliveryDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryId" type="xs:long" />
          <xs:element minOccurs="0" name="DeliveryPrices" nillable="true" type="tns:ArrayOfDeliveryPrice" />
          <xs:element minOccurs="0" name="ExtraFee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryType" nillable="true" type="tns:DeliveryType" />
  <xs:complexType name="ArrayOfDeliveryPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryPrice" nillable="true" type="tns:DeliveryPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryPrice" nillable="true" type="tns:ArrayOfDeliveryPrice" />
  <xs:complexType name="DeliveryPrice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="DeliveryId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DeliveryType" nillable="true" type="tns:DeliveryType" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryPrice" nillable="true" type="tns:DeliveryPrice" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfClient" />
          <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Deliveries" nillable="true" type="tns:ArrayOfDelivery" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GCMkey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsBlocked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsNotify" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLogin" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
          <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MoneyTransactions" nillable="true" type="tns:ArrayOfMoneyTransaction" />
          <xs:element minOccurs="0" name="MoneyTransactions1" nillable="true" type="tns:ArrayOfMoneyTransaction" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfPhoto" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
          <xs:element minOccurs="0" name="SecurityAnswer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecurityQuestionId" type="xs:short" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="ArrayOfDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Delivery" nillable="true" type="tns:Delivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDelivery" nillable="true" type="tns:ArrayOfDelivery" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Status" type="xs:boolean" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="To" type="xs:long" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfMoneyTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoneyTransaction" nillable="true" type="tns:MoneyTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoneyTransaction" nillable="true" type="tns:ArrayOfMoneyTransaction" />
  <xs:complexType name="MoneyTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CCExpiredMonth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CCExpiredYear" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CCName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CCNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CCPin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DestinationId" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ReceiptPhoto" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceId" type="xs:long" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Trandate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="Value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoneyTransaction" nillable="true" type="tns:MoneyTransaction" />
  <xs:complexType name="ArrayOfPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Photo" nillable="true" type="tns:Photo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoto" nillable="true" type="tns:ArrayOfPhoto" />
  <xs:complexType name="Photo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="IsVisble" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PhotoDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhotoLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UploadedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:long" />
          <xs:element minOccurs="0" name="VIPMemberOnly" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Photo" nillable="true" type="tns:Photo" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
          <xs:element minOccurs="0" name="BankAccNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
          <xs:element minOccurs="0" name="CancelCount" type="xs:int" />
          <xs:element minOccurs="0" name="ClientComments" nillable="true" type="tns:ArrayOfClientComment" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Commission" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAvailable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsBlocked" type="xs:boolean" />
          <xs:element minOccurs="0" name="Language1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PreferrableLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductPrices" nillable="true" type="tns:ArrayOfProductPrice" />
          <xs:element minOccurs="0" name="Reward" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserId" type="xs:long" />
          <xs:element minOccurs="0" name="Videos" nillable="true" type="tns:ArrayOfVideo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPrice" nillable="true" type="tns:ProductPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPrice" nillable="true" type="tns:ArrayOfProductPrice" />
  <xs:complexType name="ProductPrice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ProductType" nillable="true" type="tns:ProductType" />
          <xs:element minOccurs="0" name="ProductTypeId" type="xs:long" />
          <xs:element minOccurs="0" name="Reward" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductPrice" nillable="true" type="tns:ProductPrice" />
  <xs:complexType name="ProductType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductPrices" nillable="true" type="tns:ArrayOfProductPrice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:complexType name="ArrayOfVideo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Video" nillable="true" type="tns:Video" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideo" nillable="true" type="tns:ArrayOfVideo" />
  <xs:complexType name="Video">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsVisible" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductId" type="xs:long" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UploadedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VIPMemberOnly" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="VideoDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VideoLink" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Video" nillable="true" type="tns:Video" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Booking" nillable="true" type="tns:Booking" />
          <xs:element minOccurs="0" name="BookingId" type="xs:long" />
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefundAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SystemRespond" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ReturnTypeOfBooking">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Booking" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfBooking" nillable="true" type="tns:ReturnTypeOfBooking" />
  <xs:complexType name="ReturnTypeOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfboolean" nillable="true" type="tns:ReturnTypeOfboolean" />
  <xs:complexType name="ReturnTypeOfClientComment">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClientComment" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ClientComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfClientComment" nillable="true" type="tns:ReturnTypeOfClientComment" />
  <xs:complexType name="ReturnTypeOfArrayOfClientComment">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfClientComment" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfClientComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfClientComment" nillable="true" type="tns:ReturnTypeOfArrayOfClientComment" />
  <xs:complexType name="ReturnTypeOfClient">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Client" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfClient" nillable="true" type="tns:ReturnTypeOfClient" />
  <xs:complexType name="ReturnTypeOfDelivery">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Delivery" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Delivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfDelivery" nillable="true" type="tns:ReturnTypeOfDelivery" />
  <xs:complexType name="ReturnTypeOfArrayOfDelivery">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDelivery" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfDelivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfDelivery" nillable="true" type="tns:ReturnTypeOfArrayOfDelivery" />
  <xs:complexType name="ReturnTypeOfDeliveryType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeliveryType" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:DeliveryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfDeliveryType" nillable="true" type="tns:ReturnTypeOfDeliveryType" />
  <xs:complexType name="ReturnTypeOfArrayOfDeliveryType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDeliveryType" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfDeliveryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfDeliveryType" nillable="true" type="tns:ReturnTypeOfArrayOfDeliveryType" />
  <xs:complexType name="FeedBack">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeedBack" nillable="true" type="tns:FeedBack" />
  <xs:complexType name="ReturnTypeOfFeedBack">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FeedBack" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:FeedBack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfFeedBack" nillable="true" type="tns:ReturnTypeOfFeedBack" />
  <xs:complexType name="ReturnTypeOfMessage">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Message" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfMessage" nillable="true" type="tns:ReturnTypeOfMessage" />
  <xs:complexType name="ReturnTypeOfArrayOfMessage">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMessage" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfMessage" nillable="true" type="tns:ReturnTypeOfArrayOfMessage" />
  <xs:complexType name="ReturnTypeOfMoneyTransaction">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MoneyTransaction" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:MoneyTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfMoneyTransaction" nillable="true" type="tns:ReturnTypeOfMoneyTransaction" />
  <xs:complexType name="ReturnTypeOfArrayOfMoneyTransaction">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMoneyTransaction" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfMoneyTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfMoneyTransaction" nillable="true" type="tns:ReturnTypeOfArrayOfMoneyTransaction" />
  <xs:complexType name="ReturnTypeOfPhoto">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Photo" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Photo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfPhoto" nillable="true" type="tns:ReturnTypeOfPhoto" />
  <xs:complexType name="ReturnTypeOfArrayOfPhoto">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPhoto" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfPhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfPhoto" nillable="true" type="tns:ReturnTypeOfArrayOfPhoto" />
  <xs:complexType name="ReturnTypeOfProductPrice">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductPrice" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ProductPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfProductPrice" nillable="true" type="tns:ReturnTypeOfProductPrice" />
  <xs:complexType name="ReturnTypeOfArrayOfProductPrice">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProductPrice" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfProductPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfProductPrice" nillable="true" type="tns:ReturnTypeOfArrayOfProductPrice" />
  <xs:complexType name="ReturnTypeOfProduct">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Product" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfProduct" nillable="true" type="tns:ReturnTypeOfProduct" />
  <xs:complexType name="ReturnTypeOfArrayOfProduct">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProduct" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfProduct" nillable="true" type="tns:ReturnTypeOfArrayOfProduct" />
  <xs:complexType name="ReturnTypeOfProductType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductType" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfProductType" nillable="true" type="tns:ReturnTypeOfProductType" />
  <xs:complexType name="ReturnTypeOfArrayOfProductType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProductType" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfProductType" nillable="true" type="tns:ReturnTypeOfArrayOfProductType" />
  <xs:complexType name="ArrayOfProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductType" nillable="true" type="tns:ProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductType" nillable="true" type="tns:ArrayOfProductType" />
  <xs:complexType name="ReturnTypeOfReport">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Report" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfReport" nillable="true" type="tns:ReturnTypeOfReport" />
  <xs:complexType name="ReturnTypeOfUser">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfUser" nillable="true" type="tns:ReturnTypeOfUser" />
  <xs:complexType name="ReturnTypeOfVideo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Video" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Video" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfVideo" nillable="true" type="tns:ReturnTypeOfVideo" />
  <xs:complexType name="ReturnTypeOfArrayOfVideo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnTypeOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfVideo" Namespace="http://schemas.datacontract.org/2004/07/Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfVideo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnTypeOfArrayOfVideo" nillable="true" type="tns:ReturnTypeOfArrayOfVideo" />
</xs:schema>